@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*
{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

.container
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin:  40px 20px 0px 20px;
}

.container .heading
{
	width: 40%;
	padding-bottom: 50px;
}

.container .heading h3
{
	font-size: 3em;
	font-weight: bolder;
	border-bottom: 3px solid #222;
	padding-bottom: 10px;
}

.container .box
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
