@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*
{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

.container
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin:  40px 20px 0px 20px;
}

.container .heading
{
	width: 40%;
	padding-bottom: 50px;
}

.container .heading h3
{
	font-size: 3em;
	font-weight: bolder;
	border-bottom: 3px solid #222;
	padding-bottom: 10px;
}

.container .box
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.container .box .column
{
	display: flex;
	flex-direction: column;
	width: 32.5%;
}

.container .box .column img
{
	width: 100%;
	padding-bottom: 15px;
	border-radius: 5px;
}

.container .button
{
	margin: 40px 0px 70px 0px;
	background: #222;
	padding: 15px 40px;
	border-radius: 5px;
}

.container .button a
{
	color: #fff;
	font-size: 1.2em;
	text-decoration: none;
	font-weight: bolder;
	letter-spacing: 3px;
}

@media only screen and (max-width: 769px)
{
	.container .box
	{
		flex-direction: column;
	}
	
	.container .box .column
	{
		width: 100%;
	}
}

@media only screen and (max-width: 643px)
{
	.container .heading
	{
		width: 100%;
	}
	
	.container .heading h2
	{
		font-size: 1em;
	}
}
